
@model onlinemartpokhara.Models.Products
@{
    ViewData["Title"] = "Details";

}
@using onlinemartpokhara.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{

    List<Products> products = HttpContextAccessor.HttpContext.Session.Get<List<Products>>("products");
    Products product = null;
    if (products != null)
    {
        product = products.FirstOrDefault(c => c.Id == Model.Id);
    }

}

<h2 class="text-info">Product Details</h2>
<form asp-action="Detail" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border row">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input type="hidden" asp-for="Id" />
                    <input asp-for="Name" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Price" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            @*<div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Image"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Image" class="form-control" type="file" />
                    </div>
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductColor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductColor" readonly="readonly" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="ProductColor" class="text-danger"></span>
            </div>
                <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="ProductTypeId"></label>
                        </div>
                        <div class="col-8">
                            @*<select asp-for="ProductTypeId" asp-items="ViewBag.productTypeId" class="form-control"></select>*@
                            <input asp-for="ProductTypes.ProductType" readonly="readonly" class="form-control" />
                        </div>
                        <span asp-validation-for="ProductTypeId" class="text-danger"></span>
                </div>
          
            <div class="form-group row">
                <div class="col-4">

                </div>
                <div class="col-4">
                    @if (product != null)
                    {
                        <button type="submit" class="btn btn-danger form-control" asp-action="Remove" asp-route-id="@Model.Id">Remove to Cart</button>
                    }
                    else
                    {
                        <input type="submit" class="btn btn-info form-control" value="Add to Cart" />
                    }
                </div>
            </div>

            

                     
            <div class="form-group">
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <img src="~/Images/@Model.Image" width="100%" height="250px" style="border-radius: 5px;border: 1px solid #efefef" />
             @if (Model.IsAvailable)
            {
                <img src="~/Images/instock.jpg" width="200px" height="25px" />
            }
            else
            {
                <img src="~/Images/notinstock.png" width="250px" height="50px" />
            }
            </div>
            
        </div>
    </div>    
</form>
@{
    ViewBag.Title = Model.Name;
    var comments = (IEnumerable<onlinemartpokhara.Models.ArticlesComment>)ViewBag.Comments;
    var ratingSum = ViewBag.RatingSum;
    var ratingCount = ViewBag.RatingCount;

    decimal rating = 0;
    if (ratingCount > 0)
    {
        rating = (ratingSum / ratingCount);
    }
    var totalRating = decimal.Parse(rating.ToString());
}

 @foreach(var c in comments)
{
    <hr />
    <div class="row">
        <div class="col-md-3">
            <i>@c.ThisDateTime</i>
            <br />
            @for (var i = 1; i <= c.Rating; i++)
            {
                <span class="starGlowN"></span>
            }
            @for (var i = (c.Rating + 1); i <= 5; i++)
            {
                <span class="starFadeN"></span>
            }
        </div>
        <div class="col-md-9">
            @Html.Raw(c.Comments.Replace("\n", "<br />"))

        </div>
            
        </div>
}
<div>
        <span class="starFadeN" id="sRate1"></span><span class="starFadeN" id="sRate2"></span><span class="starFadeN" id="sRate3"></span><span class="starFadeN" id="sRate4"></span><span class="starFadeN" id="sRate5"></span>
 </div>

<hr />
<dl class="dl-horizontal">
    <dt>
       Review
    </dt>

    <dd>
        <div class="commentBox">
            @using (Html.BeginForm("AddReview", "Home", FormMethod.Post, new { onsubmit = "return SubmitComment()" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            Your rating <span style="font-weight:normal;">(1 star is bad, 5 star is good)</span>
                        </label>
                        <div class="col-md-7">
                            <div onmouseout="CRateSelected()">
                                <span class="starFade" id="Rate1" onclick="CRate(1)" onmouseover="CRateOver(1)" onmouseout="CRateOut(1)"></span><span class="starFade" id="Rate2" onclick="CRate(2)" onmouseover="CRateOver(2)" onmouseout="CRateOut(2)"></span><span class="starFade" id="Rate3" onclick="CRate(3)" onmouseover="CRateOver(3)" onmouseout="CRateOut(3)"></span><span class="starFade" id="Rate4" onclick="CRate(4)" onmouseover="CRateOver(4)" onmouseout="CRateOut(4)"></span><span class="starFade" id="Rate5" onclick="CRate(5)" onmouseover="CRateOver(5)" onmouseout="CRateOut(5)"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea name="Comment" id="Comment" required rows="5" style="width:100%;" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="hidden" name="ProductsId" value="@ViewBag.ProductsId" />
                            <input type="hidden" name="Rating" id="Rating" value="0" />
                            <input type="submit" id="btnRegister" name="btnRegister" value="Submit Comment" class="btn btn-warning" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </dd>

</dl>
<script>
    function SubmitComment() {
        if ($("#Rating").val() == "0") {
            alert("Please rate this service provider.");
            return false;
        }
        else {
            return true;
        }
    }
    function CRate(r) {
        $("#Rating").val(r);
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
        // unselect remaining
        for (var i = r + 1; i <= 5; i++) {
            $("#Rate" + i).attr('class', 'starFade');
        }
    }
    function CRateOver(r) {
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
    }
    function CRateOut(r) {
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starFade');
        }
    }
    function CRateSelected() {
        var setRating = $("#Rating").val();
        for (var i = 1; i <= setRating; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
    }
</script>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                }







